footer {
  background-color: #c7bdb5;
  box-sizing: border-box;
  width: 100;
}

.social {
  display: flex;
  justify-content: center;
}

.social a {
  text-decoration: none;
  padding: 5px;
  background-color: white;
  margin: 5px;
  border-radius: 30%;
  cursor: pointer;
}

.social a i {
  font-size: 1em;
  color: black;
  opacity: 0.9;
}

.social a:hover {
  background-color: black;
  transition: 0.5s;
}

.social a:hover i {
  color: red;
  transition: 0.5s;
}

.footerBottom {
  background-color: rebeccapurple;
  text-align: center;
  color: white;
}

footer .footerBottom p {
  color: wheat;
}

.designer {
  opacity: 0.7;
  letter-spacing: 1;
  font-weight: 400;
}
